@Styles.Render("~/Assets/CSS/Index.css")
@{
    ViewBag.Title = "Othello";
}
<section id="intro">
    <section id="speech_bubble">
        <section id="speech">
            <h2>Hello, So you wants to play Othello? Is meerkats' favourite game.</h2>
            <h2>Get beetles ready and come play thrillsy game. Simples.</h2>
        </section>
    </section>

    <section id="spacer">
        <section id="sergei_spacer"></section>
        <section id="sergei">
            <img id="sergei-img"src="../../Assets/Images/sergei.png"/>
            <section id="thoughts">
                <section id="rules">
                    <h2>What is <br/>
                        about Sergei, you ask?
                    </h2>
                    <h2><a href="http://www.britishothello.org.uk/rules.html">How</a> play crazy fun game?
                    </h2>
                </section>
            </section>
        </section>
        
        <button id="start-play" href="NewGame">Start play, have all the fun</button>

    </section>

    
</section>


