@Styles.Render("~/Assets/CSS/NewGame.css")
@model Othello.Models.BoardModel
@{
    ViewBag.Title = "New Game";
}


<section id="getnames">
    <section id="aleksandr">
        <section id="speech_bubble">
            <section id="speech">
                <h2>Who wants play most excite game?</h2>
            </section>
        </section>
    </section>


    <section id="form">
        <section id="player1">
            <img id="blackbug" src="../../Assets/Images/bug.png"/>
            <h2>Player 1</h2>
            <p>(Who like very munch the black beetles):</p>
            @Html.TextBoxFor(m => m.player1Name)
        </section>
        <section id="player2">
            <img id="whitebug" src="../../Assets/Images/whitebug.png"/>
            <h2>Player 2</h2>
            <p>(Who like munch better the white beetles):</p>
            @Html.TextBoxFor(m => m.player2Name)
        </section>
        <section id="submit">
            <a href="@Url.Action("StartGame", "Game")">Begin the fun!</a>
        </section>
    </section>

</section>
