@Styles.Render("~/Assets/CSS/NewGame.css")
@{
    ViewBag.Title = "New Game";
}
<section id="getnames">
    <section id="aleksandr">
        <section id="speech_bubble">
            <section id="speech">
                <h2>Who wants play most excite game?</h2>
            </section>
        </section>
    </section>


    <section id="form">
        <form method="get" action="../Game/Play">
            <section id="player1">
                <img id="blackbug" src="../../Assets/Images/bug.png"/>
                <h2>Player 1</h2>
                <p>(Who like very munch the black beetles):</p>
                <input type="text" name="player1Name"/>
            </section>
            <section id="player2">
                <img id="whitebug" src="../../Assets/Images/whitebug.png"/>
                <h2>Player 2</h2>
                <p>(Who like munch better the white beetles):</p>
                <input type="text" name="player2name"/>
            </section>
            <section id="submit">
                <input type="submit" value="Beginning"/>
            </section>
        </form>
    </section>
</section>