@model Othello.Models.GameModel
@*@{Layout=null}*@

<img id="whitebug" src="../../Assets/Images/whitebug.png" />
<h2>@Model.Player2.Name</h2>
<h1 id="player2Count">@Model.Player2.Score</h1>
<img id="meerkat2" src="../../Assets/Images/oleg.png" />
