@model Othello.Models.GameModel
@*@{Layout=null}*@

    <img id="blackbug" src="../../Assets/Images/blackbug.png" />
    <h2>@Model.Player1.Name</h2>
    <h1 id="player1Count">@Model.Player1.Score</h1>
    <img id="meerkat1" src="../../Assets/Images/maiya.png" />
