
@using Othello.Models
@model Othello.Models.GameModel

@{
    ViewBag.Title = "title";
}
  <section class="player" id="player1">
    @{Html.RenderPartial("_player1", Model);}
  </section>

    <section id="gametable">

        <section id="board">
            @{Html.RenderPartial("_board", Model);}
        </section>

    </section>

    <section class="player" id="player2">
        @{Html.RenderPartial("_player2", Model);}
    </section>

    @Scripts.Render("~/Scripts/jquery-1.10.2.js");
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js");
    @*@Scripts.Render("~/Assets/JS/GamePlay.js");*@
    @Styles.Render("~/Assets/CSS/Game.css")
<script>
    $(".square").on("click", function () {
        var thisId = event.target.id;
        $.ajax({
            type: "POST",
            url: "Play",
            data: { gridRef: thisId },
            success: function (boardHtml) {
                $("#board").html(boardHtml);
            }
        });

        $.ajax({
            type: "POST",
            url: "GetScores",
            data: {player: 1},
            success: function (player1Html) {
                $("#player1").html(player1Html);
            }
        });

        $.ajax({
            type: "POST",
            url: "GetScores",
            data: { player: 2 },
            success: function (player2Html) {
                $("#player2").html(player2Html);
            }
        });
    });
</script>



